- input_collection(f) do |c|

  - association_question.associations.each do |left, right|
    .pair
      = c.input(:answer, input_html: {value: left}, label: false, wrapper_html: {class: 'static'})
      = icon("arrow-right")
      = c.input(:answer, input_html: {value: right}, label: false, wrapper_html: {class: 'dynamic'})
