- case params[:action]
- when "index"
  = breadcrumbs link_to("Kvizovi", quizzes_path), @quiz.name
- else
  = breadcrumbs link_to("Kvizovi", quizzes_path), link_to(@quiz.name, quiz_questions_path(@quiz)), @title
