- case params[:action]
- when "index"
  = breadcrumbs([["Kvizovi", quizzes_path], [@quiz.name, quiz_questions_path(@quiz)], "Pitanja"])
- else
  = breadcrumbs([["Kvizovi", quizzes_path], [@quiz.name, quiz_questions_path(@quiz)], @title])
