= f.error :base

%ol
  - input_collection(f) do |c|
    - number_of_fields(choice_question).times do |idx|
      %li= c.input :provided_answers, as: :string, label: false, placeholder: "Opcija #{idx + 1}", wrapper_html: {class: ("success" if idx == 0)}, input_html: {value: choice_question.provided_answers[idx], title: ("To će biti točan odgovor" if idx == 0)}
