%span.space-quart-right= question_icons(question.category)
%span.space-quart-right= f.input :position, label: false, wrapper: false, bootstrap_wrapper: false, input_html: {class: "input-mini"}
%span.list-pretty-item-content= question.content
