- input_collection(f) do |c|

  .column.static
    - 4.times do |idx|
      = c.input(:data, as: :string, label: false, placeholder: "Opcija #{idx + 1}", input_html: {value: question.provided_answers[idx]}).prepend_icon("arrow-right")

  .column.interactive
    - 4.times do |idx|
      = c.input :data, as: :string, label: false, placeholder: "Opcija #{idx + 1}", input_html: {value: question.provided_answers[idx + 4]}
