%h2
  %span.question-number{class: number(@player_number)}= @question_number
  = smarty_pants question.content

= render object: question, partial: question.to_partial_path, locals: {f: f}

- if question.hint?
  %p.hint Uputa: #{question.hint}
