= f.input :attachment

- if question.attachment.present?
  %canvas{width: 300, height: 250, data: {src: question.attachment.url(:medium)}}
- else
  %canvas{width: 300, height: 250}
  %p.placeholder= "".prepend_icon("picture")
  = notice "Slika će se proporcionalno smanjiti na visinu od 250px."

= f.input :data, as: :string, label: "Odgovor"
