- @title = "Izmjena pitanja"

= back_button "Pitanja", polymorphic_path([@scope, Question])

%h1
  %span.name= @scope.name
  %span.section= @title.downcase

= render partial: "form", locals: {url: polymorphic_path([@scope, @question.becomes(Question)]), klass: "edit"}
