- @title = "Izmjena pitanja"

= back_button "Pitanja", quiz_questions_path(@quiz)

%h1
  %span.name= @quiz.name
  %span.section= @title.downcase

= render partial: "form", locals: {url: quiz_question_path(@quiz, @question), klass: "edit"}
