- @title = @quiz.name

= back_button "Kvizovi", root_path

%h1
  %span.name= @quiz.name
  %span.section pitanja

- if @quiz.questions.any?
  %ol.questions
    = render collection: @quiz.questions, partial: "question_item", as: :question
- else
  %p Ovaj kviz trenutno nema pitanja.

%p= add_button "Novo pitanje", new_quiz_question_path(@quiz)
