.breadcrumb {
  background-color: #f5f5f5;

  li {
    height: $baseLineHeight;

    &:after {
      display: inline-block;
      content: "/";
      color: rgba(black, .25);
      font-weight: bold;
      margin: 0 $baseLineHeight/3;
    }

    &:last-child {
      &:after {
        content: normal;
      }
    }
  }
  i { font-size: 12px; }
}
