= simple_form_for [:account, quiz], remote: true, html: {class: "form-inline"} do |f|
  = f.hidden_field :activated, value: !quiz.activated?
  - if quiz.activated?
    = f.button :button, icon("lamp-full"), class: "btn-success toggle-activation space-quart-right", title: "Deaktiviraj"
  - else
    = f.button :button, icon("lamp"), class: "toggle-activation space-quart-right", title: "Aktiviraj"
