= simple_form_for [:account, @quiz], remote: true, html: {class: "form-inline"} do |f|

  .form-group
    .row
      .col-sm-8.col-md-6.col-lg-5
        .input-group
          = f.input_field :name
          %span.input-group-btn
            = submit_button "Napravi kviz".prepend_icon("plus")
