= simple_form_for [:account, @quiz], remote: true, html: {class: "form-inline"} do |f|

  = f.input_field :name, class: "input-large"
  = f.button :button, "Napravi kviz".prepend_icon("plus"), class: "btn-primary"
