- title "Uređivanje kvizova"

.m-bottom
  = add_button "Novi kviz", new_account_quiz_path

#quiz-list
  - if @quizzes.any?
    .list-group
      = render @quizzes if @quizzes.any?

  - else
    .well Trenutno nemate kvizova.
