- title "Uređivanje kvizova"

.m-bottom
  = render "new"

#quizzes
  %table.table.table-striped#quiz-list
    %tbody
      = render @quizzes if @quizzes.any?

  - if @quizzes.empty?
    .no-items.well Trenutno nemate kvizova.
