= remote_form_for quiz, html: {class: "form-inline"} do |f|
  = f.input :activated, as: :hidden, input_html: {value: !quiz.activated?}
  - if quiz.activated?
    = f.button :button, icon("lamp-full"), {class: "btn btn-success toggle-activation space-quart-right", title: "Deaktiviraj"}.merge(defined?(active) ? active : {})
  - else
    = f.button :button, icon("lamp"), {class: "btn toggle-activation space-quart-right", title: "Aktiviraj"}.merge(defined?(inactive) ? inactive : {})
