%h1 Jeste li sigurni?

%p Jeste li sigurni da želite izbrisati taj kviz?

= simple_form_for @quiz, method: :delete do |f|

  = buttons do
    = cancel_button "Nisam", quizzes_path
    = submit_button "Jesam"
