= simple_form_for @quiz, method: :delete, html: {class: "modal"} do |f|
  .modal-header
    %h1 Jeste li sigurni?

  .modal-body
    %p Jeste li sigurni da želite izbrisati taj kviz?

  .modal-footer
    = buttons do
      = cancel_button "Nisam", quizzes_path
      = submit_button "Jesam"
