- @title = "Uređivanje kvizova"

%h1 Kvizovi

.info
  :markdown
    Dobrodošli u administracijsko sučelje! Ovdje možete dodavati, izmjenjivati i brisati kvizove i njihova pitanja. Ako ne želite da pojedini kviz bude vidljiv učenicima, možete ga deaktivirati klikom na prekidač u sredini.

- if @quizzes.any?

  %ol.quizzes
    = render collection: @quizzes, partial: "quiz_item", as: :quiz

- else

  %p Trenutno nemate nikakvih kvizova.

%p= add_button "Novi kviz", new_quiz_path
