- @title = "Uređivanje kvizova"

%p= link_to "Vaša pitanja", school_questions_path(current_user)
%p= link_to "Sva pitanja", questions_path

%h1 Kvizovi

- if @quizzes.any?

  %ol.quiz_list
    = render collection: @quizzes, partial: "quiz_item", as: :quiz

- else

  %p Trenutno nemate nikakvih kvizova.

%p= add_button "Novi kviz", new_quiz_path
