- @title = "Uređivanje kvizova"

%h1 Kvizovi

- if @quizzes.any?

  %ol.quiz_list
    = render collection: @quizzes, partial: "quiz_item", as: :quiz

- else

  %p Trenutno nemate nikakvih kvizova.

%p= add_button "Novi kviz", new_quiz_path
