- @title = "Uređivanje kvizova"

%p.new_quiz= add_button "Novi kviz", new_quiz_path

- if @quizzes.any?

  %ol.quiz_list
    - @quizzes.each do |quiz|
      = content_tag_for :li, quiz do
        = render quiz

- else

  %p.no_items Trenutno nemate nikakvih kvizova.
