- @title = "Uređivanje kvizova"

%p.new_quiz= add_button "Novi kviz", new_quiz_path

- if @quizzes.any?

  %ol.quiz_list
    = render collection: @quizzes, partial: "quiz_item", as: :quiz

- else

  %p.no_items Trenutno nemate nikakvih kvizova.
