- title @quiz.name

= breadcrumbs link_to("Kvizovi", quizzes_path), title

%p.text-muted
  = @quiz.school.name

.quiz.list-inline-block
  .quiz-image.thumbnail
    = image_tag @quiz.image.url(:medium)

= primary_button "ZapoÄni kviz!", start_quiz_path(@quiz), method: :post
