- title "Kontakt"

.page-header
  %h1 Kontakt

:markdown
  Za prijave grešaka, savjete ili nešto treće, slobodno nas #{contact_link "kontaktirajte"} :) Ako ne volite klikati na kontakt linkove, ovo su naše email adrese:

  * janko.marohnic@gmail.com
  * matija.marohnic@gmail.com

  Molimo vas da emailove šaljete na obje adrese, hvala :)
