- title "Kontakt"

%p Za prijave grešaka, savjete ili nešto treće, slobodno nas #{contact_link "kontaktirajte"} :) Ako ne volite klikati na kontakt linkove, ovo su naše email adrese:

%ul
  %li janko.marohnic@gmail.com
  %li matija.marohnic@gmail.com

%p Molimo vas da emailove šaljete na obje adrese, hvala :)
