- title "Profil"

= render partial: @user.type, object: @user

.btn-toolbar.edit_profile
  .btn-group
    = edit_button "Izmijeni profil", edit_profile_path
    = change_password_button "Izmijeni lozinku", edit_profile_password_path

%p= delete_profile_button "Izbriši korisnički račun", delete_profile_path
