.styleguide {
  padding-top: 3rem;
  padding-bottom  : 3rem;

  &-inner {
    display: flex;
  }

  nav {
    width: 300px;
    padding-right: 2em;
    margin-right: 2em;
    border-right: 1px solid rgba(#000, 0.1);
    text-align: right;

    a {
      display: block;
      margin-bottom: 1px;
      padding: 0.25em;

      &.active {
        color: #000;
        font-weight: 600;
        text-decoration: none;
      }
    }
  }

  main {
    flex: 1 1 auto;
    padding: 0;
  }
}
