= render "score", played_quiz: played_quiz
= back_button "Natrag", played_quizzes_path(params.slice(:quiz_id, :student_id))

- if played_quiz.has_answers?
  = render "answers", played_quiz: played_quiz
  = back_button "Natrag", played_quizzes_path(params.slice(:quiz_id, :student_id))
