- title "Praćenje kvizova"

%table.table.table-striped

  %colgroup
    %col.col-33
    %col.col-33
    %col

  %thead
    %tr
      %th Ime kviza
      %th Igrači
      %th Rezultat
      %th Odigrano

  %tbody
    = render collection: @played_quizzes, partial: "played_quiz_short", as: :played_quiz

= will_paginate @played_quizzes, previous_label: "← Novije", next_label: "Starije →"
