root: true
extends: airbnb
parserOptions:
  ecmaFeatures:
    experimentalObjectRestSpread: true
globals:
  __API_URL__: false
  __DEV__: false
rules:
  global-require: 0
  react/no-multi-comp: 0
  react/jsx-no-literals: 2
  no-underscore-dangle: 0
