.bundle/
log/*.log
.sass-cache/

public/assets/
public/uploads/
tmp/

*-backup*

.env

node_modules
bower_components

doc/*.lyx~
doc/*.lyx#
doc/*.pdf
doc/*.aux
doc/*.log
doc/*.toc
doc/*.out
doc/*.lof
