- title "Točan odgovor"

.modal-header
  %h1.feedback-title.text-success
    = icon("checkmark-circle-full")
    %span Točan odgovor!

.modal-body
  %p= ["Bravo! :)", "Svaka čast! :D", "Čestitamo! :)"].sample
