.item_controls
  = delete_button "", student_path(student), confirm: "Jeste li sigurni da želite izbrisati ovog učenika?", method: :delete, title: "Izbriši"

.name
  = student.full_name
  %span.username= student.username
