- @title = "Uređivanje učenika"

= back_button "Profil", school_path(current_school)

%h1 Učenici

- if @students.any?

  %ol.student_list
    = render collection: @students, partial: "student_item", as: :student

- else

  %p Nijedan vaš učenik još nije registriran.
