- @title = "Uređivanje učenika"

- if @students.any?

  %ol.student_list
    = render collection: @students, partial: "student_item", as: :student

- else

  %p.no_items Nijedan vaš učenik još nije registriran.
