= f.input :provided_answers, wrapper_html: {class: "space-half-bottom"} do
  %table.table-condensed.space-half-bottom
    %tbody.choice-wrapper
      - number_of_fields(question.provided_answers).times do |n|
        %tr.choice-option
          %td.choice-field
            = f.input_field :provided_answers,
              placeholder: "Ponuđeni odgovor #{n + 1}",
              value: question.provided_answers[n],
              name: "question[provided_answers][]",
              class: ("success" if n.zero?)
          %td.choice-remove
            - if n.zero?
              %span.text-success{title: "Ovo će biti točan odgovor.",
                                 data: {toggle: "tooltip", placement: "right"}}
                = icon("checkmark-circle-full")
