.fancybox-wrap {
  text-align: center;
  &.long { text-align: left; }

  h1 {
    @include with-font-size($large, 3/2) {
      @include trailer(1/2);
      font-weight: 700;
    }
  }

  .form_controls {
    margin: 0;

    a + button {
      margin-left: rhythm(1/2);
    }
  }
}

.fancybox-skin {
  background: white;
  .fancybox-opened & {
    @include box-shadow(rgba(black, .25) 0 0 0 .5em);
  }
}

.confirm {
  .form_controls {
    @include rhythm(1, 0, 0, 1/2);
  }

  input { width: 100%; }
}

.feedback {
  h1 { @include trailer(0, $large); }

  ol, ul { @extend %unstyled-list; }

  &.wrong .form_controls {
    @include leader;
  }
}
