.fancybox-wrap {
  text-align: center;
  &.long { text-align: left; }

}

.fancybox-skin {
  background: white;
  .fancybox-opened & {
    @include box-shadow(rgba(black, .25) 0 0 0 .5em);
  }
}

.fancybox-inner {
  overflow: visible;

  h1 {
    @include with-font-size($large, 3/2) {
      @include trailer(1/2);
      font-weight: 700;
    }
  }

  @include text-input {
    width: 100%;
  }

  .form_controls {
    @include rhythm(0, 0, 0, 1/2);

    a + button {
      margin-left: rhythm(1/2);
    }
  }

  &, form:last-child {
    > :last-child { @include trailer(0); }
  }
}

.confirm {
  .form_controls {
    @include rhythm(1, 0, 0, 1/2);
  }
}

.feedback {
  h1 { @include trailer(0, $large); }

  ol, ul { @extend %unstyled-list; }

  &.wrong .form_controls {
    @include leader;
  }
}
