- title "Učenici"

%table.table.table-striped
  %colgroup
    %col.col-35
    %col.col-30
    %col

  %thead
    %tr
      %th Ime i prezime
      %th.text-center Korisničko ime
      %th.text-center Broj odigranih kvizova

  %tbody
    - @students.each do |student|
      = content_tag_for :tr, student do
        %td= student.full_name
        %td.text-center= student.username
        %td.text-center= link_to student.played_quizzes.count, played_quizzes_path(student_id: student.id)
