p Dobrodoš#{@resource.male? ? "ao" : "la"}!

p Možeš potvrditi svoj korisnički račun slijedeći link ispod:

p= link_to student_confirmation_url(confirmation_token: @token), student_confirmation_url(confirmation_token: @token)
