%p Pozdrav #{@resource.full_name},

%p Netko je zatražio link za promjenu tvoje lozinke. To možeš napraviti slijedeći link ispod.

%p= link_to edit_password_url(@resource, :reset_password_token => @token), edit_password_url(@resource, :reset_password_token => @token)

%p Ako ti to niste zatraži#{@resource.male? ? "o" : "la"}, samo ignoriraj ovaj email.
%p Tvoja lozinka se neće promijeniti dok ne posjetiš link iznad i ne napraviš novu.
