%p Poštovani,

%p Tvoja nova lozinka za korisnički račun "#{@user.username}" je "<strong>#{@user.password}</strong>".

%p Nakon što se prijaviš, možeš je promijeniti na stranici svojeg korisničkog računa.

%p Lijepi pozdrav,<br>Janko &amp; Matija.
