@import "config/bootstrap";
@import "bootstrap/variables";
@import "globals/variables";

label {
  .required {
    font-weight: 300;
    color: $brand-danger;
  }
}

.radio_buttons,
.check_boxes {
  ol, ul {
    padding-left: 0;
  }
}

button[type="button"] {
  #{$interact} {
    outline: none;
  }
}
