- title "Prekid igre"

.modal.l-interrupt
  .modal-header
    %h1 Jeste li sigurni?

  .modal-body
    %p Jeste li sigurni da želite prekinuti igru?

  .modal-footer
    = buttons do
      = cancel_button "Nisam", play_quiz_path
      = primary_button "Jesam", finish_quiz_path, method: :delete
