- title "#{@quiz.name} · Kraj"

%h1 Rezultati

.progress
  .bar{style: "width: 100%"}

= render "played_quizzes/played_quiz", {played_quiz: played_quiz}

= buttons do
  = primary_button "Završi", choose_quiz_path, class: "btn btn-primary fade-in"
