- title "Početna"

- content_for :hero_unit do
  .hero-unit-icon
    = icon("books")

  %h1.hero-unit-title Kvizovi

  %p.hero-unit-description.lead
    Jednostavna aplikacija za igranje kvizova.

  .app-role
    = primary_button "Ja sam učenik".prepend_icon("user"), new_student_session_path, class: "btn-large app-role-btn"
    = primary_button "Ja sam škola".append_icon("home"), new_school_session_path, class: "btn-large app-role-btn"

  %p.tour
    %small Prvi puta ste ovdje? Treba li vam #{link_to "vodič", tour_path}?
