- @title = "Početna"

%h1= "Lektire".prepend_icon("books")
%h2 Aplikacija za ispitivanje znanja iz lektire.

%ol.app_role
  %li= link_to "Ja sam učenik".prepend_icon("user"), login_path(type: "student")
  %li= link_to "Ja sam škola".prepend_icon("home"), login_path(type: "school")

%p.tour Prvi puta ste ovdje? Treba li vam #{link_to "vodič", tour_path}?
