- @title = "Početna"

%article#intro
  :markdown
    # #{icon("books")} Lektire
    Aplikacija za ispitivanje znanja iz lektire.

= link_to "Ja sam učenik".prepend_icon("user"), student_login_path, class: "as student"
= link_to "Ja sam škola".prepend_icon("home"), school_login_path, class: "as school"
