- title "Prekid igre"

%h1 Jeste li sigurni?

%p Jeste li sigurni da želite prekinuti igru?

= form_tag game_path, method: :delete do

  = buttons do
    = cancel_button "Nisam", edit_game_path
    = submit_button "Jesam"
