- @title = @correct_answer ? "Točan odgovor" : "Netočan odgovor"

%h1= @correct_answer ? "Točan odgovor" : "Netočan odgovor"

= buttons do |b|

  - unless @game_finished
    = b.action_button "Sljedeće pitanje".append_icon("arrow-right"), edit_game_path
  - else
    = b.action_button "Rezultati".append_icon("arrow-right"), game_path
