- @title = "#{@quiz.name} · Kraj"

%h1 Rezultati

#players
  - @players.zip(@scores).each do |player, score|
    .player
      %p.username= player.username.prepend_icon("user")
      %p.score= score

.controls
  = link_to "Završi", new_game_path
