%p ToÄni parovi bili su:

.feedback.question_association
  %ul
    = list_of question.associations do |key, value|
      %span= key
      = icon("chevron-right", class: "arrow subtle")
      %span= value
