- title "Netočan odgovor"

%h1.feedback-title.text-error
  = icon("cancel-circle-full")
  = ["Ne baš…", "Pogrešno", "Nažalost, ne…"].sample

= render "games/answer/#{@question.category}", {question: @question}
