%p Poštovani,

%p Vaša nova lozinka za korisnički račun "#{@user.username}" je "<strong>#{@new_password}</strong>". Nakon što se prijavite, možete je promijeniti na stranici vašeg korisničkog računa.

%p Lijepi pozdrav,<br>Vaše Lektire.
