.l-played {
  position: relative;

  .question-title {
    margin-top: 0;
    margin-bottom: 0;
  }

  ul {
    list-style-type: circle;
  }

  li.question-answer {
    font-weight: nth($base-weight, 4);
    list-style-type: disc;
  }

  .label {
    padding: $hsu/2;
  }
}
