.l-design {
  .btn {
    margin: 0 5px 6px 0;
  }

  input[type="file"] {
    $margin: 8px;
    height: 38px - $margin;
    margin-top: $margin;
    line-height: inherit;
  }

  .image-preview {
    margin-bottom: $baseLineHeight/2;
    max-height: 250px;
  }

  .image_question_image_file,
  .image_question_image_url {
    .js & {
      display: none;
    }
  }
}
