.alert {
  .close {
    top: 3px;

    i {
      font-size: inherit;
    }
  }

  &.no-close {
    display: inline-block;
    margin-bottom: $baseLineHeight/2;
    padding-right: $baseLineHeight/2;

    .close { display: none; }
  }

  .container-main > &:first-child {
    @include border-top-radius(0);
    margin-top: - $baseLineHeight;
  }
}

.alert-error {
  p { margin: 0; }
}
