.container {
  max-width: 940px;
  width: auto !important;
  padding-left: $hsu;
  padding-right: $hsu;
}

  .container-main {
    position: relative;
    padding-top: $baseLineHeight;

    > .alert-info:first-child {
      form { margin: 0; }
    }
  }
