.list-pretty {
  @include list-unstyled;
  clear: both;
}

  .list-pretty-item {
    $height: 2 * $baseLineHeight;

    @include box-sizing(border-box);
    @include clearfix;

    position: relative;
    height: $height;
    padding: 0 $hsu;
    line-height: $height - 1px;

    &:nth-child(odd) {
      background: $tableBackgroundAccent;
      border: {
        top: 1px solid $tableBorder;
        bottom: 1px solid $tableBorder;
      }
    }

    > * {
      display: inline-block;
      vertical-align: middle;
    }
  }

    @include keyframes(highlightOdd) {
      0%    { background: lighten(yellow, 25%); }
      100%  { background: $tableBackgroundAccent; }
    }

    @include keyframes(highlightEven) {
      0%    { background: lighten(yellow, 25%); }
      100%  { background: white; }
    }

    .list-pretty-item-highlight {
      &:nth-child(odd) {
        @include animation(highlightOdd 2.5s linear);
      }
      &:nth-child(even) {
        @include animation(highlightEven 2.5s linear);
      }
    }

    .list-pretty-item-actions {
      $width: 2 * $bsu;

      position: absolute;
      top: -1px;
      right: 0;
      bottom: 0;

      width: $width;

      .dropdown-toggle {
        @include color-link(rgba(black, .25), $linkColor);
        display: inline-block;
        width: 100%;
        height: 100%;
        background: rgba(black, .020);
        text-align: center;
        text-decoration: none;

        @include on-interact {
          background: rgba($linkColor, .05);
        }

        i {
          line-height: inherit;
        }
      }

      .dropdown-menu {
        top: 0;
        right: 1.5 * $bsu;
        margin: 0;
      }
    }
