.navbar-inverse .navbar-inner .brand {
  @include box-sizing(border-box);
  @include color-link(darken($navbarInverseBackground, 10%), white);
  @include transition(all .2s);
  height: $navbarHeight;
  text-shadow: rgba(white, .25) 0 1px 0;

  @include on-interact {
    text-shadow: rgba(black, .25) 0 -1px 0;
  }

  i {
    position: relative;
    top: -4px;
    font-size: 32px;
  }
}

.navbar-inner {
  padding-left: 0;
  padding-right: 0;

  .dropdown.hover .dropdown-menu {
    margin-top: 0;
  }
}
