.profile {
}

  .profile-info {
    margin-bottom: $baseLineHeight/2;
  }

    .profile-info-field {
      width: 200px;
    }

  .profile-edit {
    margin-bottom: $baseLineHeight;
  }

  .profile-delete {
    @include color-link($btnDangerBackgroundHighlight, darken($btnDangerBackgroundHighlight, 10%));
  }
