.reveal {
}

  .reveal-toggle {
    @extend .icon-checkmark-circle-full;
    @include color-link($successText);
    position: relative;
    top: -1px;
    display: inline-block;
    vertical-align: middle;

    @include on-interact {
      text-decoration: none;
    }

    &.is-hidden {
      @include color-link(shade(white, 25%), $successText);
    }
  }

  .reveal-content {
    @include transition(opacity .2s);
    opacity: 1;

    &.is-hidden {
      height: 0;
      margin-top: 0;
      opacity: 0;
      overflow: hidden;
    }
  }
