.sort {
  height: 15 * $bsu;
  overflow-y: auto;
}

  .sort-item {
    @include box-sizing(border-box);
    margin-bottom: $hsu/2;
    cursor: move;

    > * {
      display: inline-block;
      margin-right: $hsu/2;
    }

    [type=hidden] {
      display: none;
    }
  }

    .sort-item-handle {
      padding: $hsu/2 $hsu;
      background-color: shade(white, 1%);
      border: 1px solid shade(white, 10%);
      border-radius: 5px;
    }

  .sort-placeholder {
    padding-bottom: $hsu/2;

    &:before {
      @include triangle($hsu, $linkColor, right);
      content: "";
      display: block;
    }
  }
