.timer {
  $width: 64px;
  $padding: 8px;

  @include border-bottom-radius($baseBorderRadius);

  position: absolute;
  top: 0;
  left: 50%;
  width: $width;
  margin-left: - ($width/2 + $padding);
  padding: $padding;
  border: 1px solid rgba(black, .1);
  border-top: none;
  background: rgba(black, .05);
  font-size: 18px;
  text-align: center;

  &.text-warning {
    background: $warningBackground;
    border-color: $warningBorder;
  }

  &.text-error {
    background: $errorBackground;
    border-color: $errorBorder;
  }

  .no-js & {
    display: none;
  }
}
