- @title = @school.name

- if current_school == @school

  %ul
    %li= link_to "Uredi kvizove", quizzes_path
    %li= link_to "Uredi učenike", students_path
    %li= link_to "Uredi knjige", books_path
    %li= link_to "Uredi književnja razdoblja", eras_path
