- @title = @school.name

%p= settings_button "Izmjeni profil", edit_school_path(@school)

%ul.edit
  %li= link_to "Kvizovi".prepend_icon("comments"), quizzes_path
  %li= link_to "UÄenici".prepend_icon("users"), students_path
