- @title = @school.name

- if current_school == @school

  %ul#edit
    %li= link_to "Uredi kvizove".prepend_icon("paper"), quizzes_path
    %li= link_to "Uredi učenike".prepend_icon("user"), students_path
    %li= link_to "Uredi knjige".prepend_icon("book"), books_path
    %li= link_to "Uredi književna razdoblja".prepend_icon("busy"), eras_path
