= f.input :image, label: false do
  = f.input :image_file, as: :file
  = f.input :image_url, placeholder: %(Npr. "http://www.primjer.hr/neka-slika.jpg")

- if params[:action] == "edit"
  %img.img-polaroid.preview{src: image_question.image.url(:resized)}
- else
  %img.img-polaroid.preview.hide

= f.input :answer, as: :string, input_html: {title: "Dobro za znati...", data: {content: answer_title}}
