- Answer(question, answer) do |(left, right), css_class|
  .space-half-bottom
    %span{class: "#{css_class} left"}= left
    = icon("chevron-right", class: "arrow subtle")
    %span{class: "#{css_class} right"}= right
