= simple_form_for @post, method: :delete, html: {class: "modal"} do |f|

  .modal-header
    %h1 Jesi li siguran?

  .modal-body
    %p Čuo si me, pederu, jesi li siguran da želiš izbrisati ovaj blog post?

  .modal-footer
    = buttons do
      = cancel_button "Nisam", blog_path
      = submit_button "Jesam, jebi se"
