@import "bootstrap/variables";
@import "globals/mixins";

.jumbotron {
  @include subtle-pattern("lightpaperfibers", 500px 300px);
  padding-bottom: $sub * 3;
  border-bottom: 2px solid rgba($brand-primary, .15);
  color: rgba(#000, .75);
}

  .jumbotron-btn {
    @media (min-width: $screen-sm-min) {
      &.student {
        text-align: right;
      }

      &.school {
        text-align: left;
      }
    }
  }
