@import "globals/variables";
@import "addons/prefixer";
@import "css3/transition";

#quizzes {

  a {
    display: block;
    position: relative;
    height: 250px;
    padding: 2px;
    background-size: cover;
    background-clip: content-box;
    border: 1px solid rgba(#000, .25);

    #{$interact} {
      border-color: $brand-primary;

      .quiz-title {
        background-color: rgba($brand-primary, .75);
      }
    }
  }

  .quiz {
    margin-bottom: $sub;
  }

    $spacing: 2px;
    .quiz-title {
      display: inline-block;
      position: absolute;
      left: $spacing;
      bottom: $spacing;
      right: $spacing;
      padding: $suh;
      background-color: rgba(#000, .35);
      text-align: center;
      color: #fff;
    }

}
