form.association {

  &.show {
    $height: 3/2;
    li {
      @extend %pie-clearfix;
      @include trailer(.5);
      font-weight: 300;

      div,
      i {
        @extend %inline-block;
      }

      div { @include adjust-leading-to($height); }

      i {
        @include leader(1/10);
        color: rgba(black, .25);
        margin-right: gutter();
      }
    }

    $cols: 4;
    .static { @include span-columns($cols); }

    .dynamic {
      span {
        @extend %inline-block;
        @extend %border-radius;
        @extend %unselectable;
        @include adjust-leading-to(1);
        cursor: move;
        height: rhythm($height);
        padding: rhythm(.25) rhythm(.5);
        border: 1px solid darken(white, 25%);
        background: darken(white, 2%);
      }

      .original { @include opacity(.25); }

      .hover {
        border-color: darken(white, 50%);
        background: darken(white, 5%);
      }
    }
  }

  &.edit, &.new {
    li {
      @extend %pie-clearfix;
      @include trailer(.5);

      $cols: $total-columns/2 - 1;
      div {
        float: left;
        width: columns($cols);
      }

      .static,
      .arrow {
        margin-right: rhythm(2/3);
      }

      .arrow,
      button {
        float: left;
      }

      .arrow {
        @extend %inline-block;
        @include leader(1/4);
        color: rgba(black, .25);
      }

      button {
        @include leader(1/3);
        vertical-align: middle;
      }

      input { width: 100%; }
    }
  }

}
