form.association {

  &.show {
    $height: 1.5;

    .pair {
      @extend %pie-clearfix;

      div, i {
        @include adjust-leading-to($height);
      }

      div {
        display: inline-block;
        &:last-child { margin-top: -4px; }
      }

      i {
        color: rgba(black, .25);
        margin-right: gutter();
      }
    }

    $cols: 4;
    .static { @include span-columns($cols); }

    .dynamic {
      span {
        @extend %border-radius;
        @extend %unselectable;
        @include adjust-leading-to(1);
        @include h-borders(1px, .25);
        @include v-borders(1px, .5);
        cursor: move;
        display: inline-block;
        border-color: darken(white, 25%);
        background: darken(white, 2%);
      }

      .original { @include opacity(.25); }

      .hover {
        border-color: darken(white, 50%);
        background: darken(white, 3%);
      }
    }
  }

  &.edit, &.new {
    .pair {
      @extend %pie-clearfix;

      $cols: $total-columns/2 - 1;
      div { @include span-columns($cols); }

      i, button { float: left; }

      i {
        @include adjust-leading-to(1.5);
        margin-right: gutter();
        text-align: center;
        color: rgba(black, .25);
      }

      input { width: 100%; }

      button { @include leader(.35); }

      .dynamic { margin-right: 0; }
    }
  }

}
