.question_choice {

  &.edit,
  &.new {
    li:nth-child(n+2) {
      margin-bottom: $baseLineHeight/2;

      .control-group,
      .close {
        display: inline-block;
      }

      input.string { margin-bottom: 0; }

      .close {
        float: none;
        margin-left: 8px;
      }
    }
  }

}
