form.choice {

  &.edit, &.new {
    div.string {
      @extend %pie-clearfix;

      input,
      button { float: left; }

      button { @include leader(.35); }
    }

    div.field_with_hint {
      input { float: none; }
      .error { display: inline; }
    }

    span.error {
      display: block;
      clear: both;
    }
  }

}
