form.choice {

  &.edit, &.new {
    li {
      @include trailer(.5);
      &:first-child, &:last-child {
        @include trailer(0);
      }
    }

    div.string {
      @extend %pie-clearfix;

      input,
      button { float: left; }

      button { @include leader(.35); }
    }

    div.field_with_hint {
      input {
        float: none;
        color: $correct;
        font-weight: 400;
        border-color: rgba($green, .75);
      }

      .error { display: inline; }
    }

    span.error {
      display: block;
      clear: both;
    }
  }

}
