form.image {

  &.show {
    $cols: $total-columns / 2;
    .img {
      float: left;
      max-width: columns($cols);
      margin-right: gutter();
    }

    .input,
    .hint,
    .buttons {
      float: left;
      width: columns($cols);
    }

    .input { @include trailer; }

    input[type="text"] { width: 100%; }

    .hint {
      @include rhythm(-0.5, 0, 0, 1);
      color: rgba(black, .5);
    }

    .buttons {
      @include leader(0);
      clear: right;
    }
  }

  &.edit, &.new {
    .preview {
      display: none;
      max-height: 250px;
    }

    .placeholder {
      @include with-font-size(100px) {
        @extend %inline-block;
        @extend %border-radius;
        @extend %unselectable;
        @include rhythm(0, 2, 0, .5);
        @include size(300px, 250px);
        cursor: pointer;
        color: rgba(black, .05);
        text-align: center;
        border: 2px dashed rgba(black, .1);
      }
    }
  }

}
