form.image {

  &.show {
    $cols: $total-columns / 2;
    .img {
      float: left;
      max-width: columns($cols);
      margin-right: gutter();
    }

    .input,
    .hint,
    .buttons {
      float: left;
      width: columns($cols);
    }

    .input { @include trailer; }

    input[type="text"] { width: 100%; }

    .hint {
      @include rhythm(-1/2, 0, 0, 1);
      color: rgba(black, .5);
    }

    .buttons {
      @include leader(0);
      clear: right;
    }
  }

  &.edit, &.new {
    .preview { max-height: 250px; }
    .toggle-type {
      position: absolute;
      left: $grid-padding / 4;
      &:hover { text-decoration: none; }
    }
  }

}
