form.photo {

  &.show {
    .img {
      float: left;
      height: 250px;
      margin-right: rhythm();
    }

    .buttons { clear: none; }
  }

  &.edit, &.new {
    .preview {
      display: none;
      max-height: 250px;
    }

    .placeholder {
      @include with-font-size(100px) {
        @extend %inline-block;
        @extend %border-radius;
        @extend %unselectable;
        @include rhythm(0, 2, 0, .5);
        height: 250px;
        width: 300px;
        color: rgba(black, .05);
        text-align: center;
        border: 2px dashed rgba(black, .1);
      }
    }
  }

}
