form.photo {

  &.show {
    img {
      max-width: 420px;
      float: right;
      margin-left: rhythm();
    }

    .input,
    .buttons {
      float: left;
    }

    .buttons {
      @include leader(.5);
      clear: left;
    }
  }

  &.edit, &.new {
    .preview {
      display: none;
      max-height: 250px;
    }

    .placeholder {
      @include with-font-size(100px) {
        @extend %border-radius;
        @extend %unselectable;
        @include rhythm(0, 2, 0, .5);
        display: inline-block;
        height: 250px;
        width: 300px;
        color: rgba(black, .05);
        text-align: center;
        border: 2px dashed rgba(black, .1);
      }
    }
  }

}
