form.photo {

  &.show {
    $cols: $total-columns / 2;
    img {
      float: right;
      max-width: columns($cols);
    }

    .input { @include trailer; }

    .input,
    .buttons {
      @include span-columns($cols);
    }

    .buttons {
      @include leader(0);
      clear: left;
    }
  }

  &.edit, &.new {
    .preview {
      display: none;
      max-height: 250px;
    }

    .placeholder {
      @include with-font-size(100px) {
        @extend %inline-block;
        @extend %border-radius;
        @extend %unselectable;
        @include rhythm(0, 2, 0, .5);
        @include size(250px, 300px);
        cursor: pointer;
        color: rgba(black, .05);
        text-align: center;
        border: 2px dashed rgba(black, .1);
      }
    }
  }

}
