body.games {

  &.edit {
    .timer {
      @include border-bottom-radius($baseBorderRadius);
      $width: 64px;
      $padding: 8px;
      position: absolute;
      width: $width;
      padding: $padding;
      top: 0;
      left: 50%;
      margin-left: - ($width/2 + $padding);
      border: 1px solid rgba(black, .1);
      background: rgba(black, .05);

      &.text-warning {
        background: $warningBackground;
        border-color: $warningBorder;
      }

      &.text-error {
        background: $errorBackground;
        border-color: $errorBorder;
      }
    }

    h1,
    .username {
      display: inline-block;
      vertical-align: middle;
    }

    .username {
      margin-top: 12px;
      margin-left: 20px;
      font-size: $fontSizeLarge;
    }

    .question_number {
      font-weight: $black;
      &:after { content: "." }
    }
  }

}

.game_score {
  @extend %unstyled-list;

  .username:after { content: ":"; }

  .rank {
    @include animation(fadeIn 3s linear);
  }

  .bar {
    @include transition(none);
    @include animation(slide 3s ease-in-out);
  }
}
