body.games {

  &.new, &.create {

    // quizzes

    .quizzes {
      li { @extend %inline-block; }

      input { display: none; }

      label {
        @extend %border-radius;
        @extend %inline-block;
        @extend %unselectable;
        @include rhythm-borders(1px, .5);
        margin: 0 rhythm(.25) rhythm(.25) 0;
        color: rgba(black, .5);
        border-color: rgba(black, .1);
        background: rgba(black, .025);
        &:hover {
          color: $text;
          border-color: rgba(black, .25);
          background: rgba(black, .05);
        }
      }

      :checked + label {
        &, &:hover {
          color: white;
          border-color: rgba(black, .25);
          background: rgba(black, .5);
        }
      }
    }

    .buttons .name { font-weight: 700; }

  }

  &.edit {

    // general

    h1, .username { @extend %inline-block; }

    .username {
      @include with-font-size(24px) {
        @include leader(-0.5);
        margin-left: rhythm();
      }
    }

    .img { max-width: 450px; }

    .hint { color: rgba(black, .5); }

  }

  &.show {

    // score

    .score {
      @extend %unstyled-list;
      @include trailer;

      li { @include trailer(.5); }
      dl { @include trailer(.25); }
    }

    $height: 2;
    .bar {
      @extend %border-radius;
      @extend %unselectable;
      @include trailer(.25);
      position: relative;
      height: rhythm($height);
      overflow: hidden;
    }

    .label {
      @include with-font-size(28px, $height) {
        position: absolute;
        z-index: 10;
        width: 100%;
        text-align: center;
      }
    }

    .fill { height: 100%; }

  }

  // progress

  #progress {
    @extend %border-radius;
    @include trailer;
    height: rhythm(.25);
    border: 1px solid rgba(black, .25);
    div {
      float: left;
      height: 100%;
      border-right: 1px solid rgba(black, .25);
      &:last-child { border: none; }
    }
  }

  .done { background: darken(white, 10%); }

}
