body.home {

  header { display: none; }

  $main: $total-columns - 4;
  #main {
    @include pad(2, 2);
    @include leader(3);
    @include clearfix;
    min-height: auto;
    text-align: center;
  }

  #intro {
    @include rhythm(1, 0, 0, 1);
    h1 {
      @include with-font-size($xx-large) {
        @include trailer(.5);
      }
      i {
        position: relative;
        top: 5px;
      }
    }
  }

  $cols: $main / 2;
  .as {
    @include with-font-size($medium) {
      @extend %button;
      @include span-columns($cols, $main);
      @include nth-omega;
      @include h-borders(1px, 1);
      @include v-borders(1px, .5);
      font-weight: 300;
      &,
      &:hover {
        @include transition(background-color .2s);
      }
      &:hover {
        background: $red;
        @include color-link(white, white);
      }

      i {
        @include with-font-size($xxx-large) {
          display: block;
        }
      }
    }
  }

  .student  { @include border-right-radius(0); }
  .school   { @include border-left-radius(0); }

}
