body.home {

  header,
  footer,
  a.tour {
    display: none;
  }

  $main: $total-columns - 4;
  #main {
    @include pad(2, 2);
    @include leader(2);
    @include padding-trailer(2);
    @include clearfix;
    min-height: 0;
    text-align: center;
  }

  #intro {
    @include rhythm(1, 0, 0, 1);
    h1 {
      @include with-font-size($xx-large) {
        @include trailer(.5);
      }
      i {
        position: relative;
        top: 5px;
      }
    }
  }

  $cols: $main / 2;
  .role {
    @extend %unstyled-list;
    @include clearfix;

    li {
      @include span-columns($cols, $main);
      @include nth-omega();
    }
  }

  .as {
    @include with-font-size($medium) {
      @extend %button;
      @include h-borders(1px, 1);
      @include v-borders(1px, .5);
      display: block;
      font-weight: 300;
      &, &:hover {
        @include transition(background-color .2s);
      }
      &:hover {
        background: $red;
        @include color-link(white, white);
      }

      i {
        @include with-font-size($xxx-large) {
          display: block;
        }
      }
    }
  }

  .student  { @include border-right-radius(0); }
  .school   { @include border-left-radius(0); }

  .tour {
    @include leader;
    clear: both;
  }

}
