body.home {

  header { display: none; }

  $main: $total-columns - 4;
  [role=main] {
    @include squish(2, 2);
    @include clearfix;
    text-align: center;
  }

  #intro {
    @include rhythm(2, 0, 0, 1);
    h1 {
      @include with-font-size(78px) {
        @include trailer(.5);
      }
      i {
        position: relative;
        top: 5px;
      }
    }
  }

  $cols: $main / 2;
  .as {
    @include with-font-size(28px) {
      @include span-columns($cols, $main);
      @include nth-omega;
      @extend %button;
      @include h-borders(1px, 1);
      @include v-borders(1px, .5);
      font-weight: 300;
      i {
        @include with-font-size(100px) {
          display: block;
          width: auto;
        }
      }
    }
  }

  .student { @include border-right-radius(0); }
  .school { @include border-left-radius(0); }

}
