ol.categories {
  @extend %unstyled-list;

  a,
  .icon,
  .label {
    @extend %inline-block;
  }

  a {
    @include rhythm(0, .25, .25, 0);
    @include color-link(rgba(black, .35), $link2);
    &:hover {
      text-decoration: none;
      .icon {
        color: $link2;
        border-color: $link2;
        background: rgba($link2, .025);
      }
    }
  }

  i { @include adjust-font-size-to(32px); }

  .label {
    @include adjust-font-size-to(20px, 2);
  }

  .icon {
    @extend %inline-block;
    @extend %border-radius;
    @include square(rhythm(2));
    margin-right: rhythm(.5);
    text-align: center;
    color: rgba(black, .25);
    border: 1px solid rgba(black, .2);
    background: rgba(black, .025);
  }

  .text span {
    @include with-font-size(20px, 2) {
      font-weight: bold;
    }
  }
}

ol.questions { @extend %nice-list; }

#question_content {
  width: 100%;
}

.points {
  clear: both;

  input { display: none; }

  span {
    margin-left: rhythm(.25);
    label {
      @extend %unselectable;
      @extend %inline-block;
      @extend %circle;
      @include square(rhythm());
      padding: 0 2px 0 0;
      color: rgba(black, .5);
      background: rgba(black, .05);
      text-align: center;
      &:hover {
        background: rgba(black, .1);
        color: $text;
      }
    }
  }

  :checked + label {
    &, &:hover {
      padding-top: 1px;
      font-weight: 900;
      color: white;
      background: rgba(black, .5);
    }
  }
}
