body.quizzes {

  &.index {

    ol.quizzes {
      @extend %nice-list;

      $cols: 4;
      .name { @include span-columns($cols); }

      .count {
        @extend %parenthesis;
        font-weight: 300;
        color: rgba(black, .35);
      }
    }

    .toggle-activation {
      float: left;
      height: rhythm();
      margin-left: gutter() * 2;

      button {
        @extend %button;
        border: 1px solid rgba(black, .3);
        background: rgba(black, .05);
        &, &.enabled {
          @include size(rhythm(7/2), rhythm());
          padding: 0;
          vertical-align: baseline;
        }
        &.enabled {
          @extend %primary-button;
          color: white;
          border-color: rgba(black, .5);
          background: $red;
        }
      }
    }

  }

}
