body.schools {

  &.show {

    // edit

    .edit {
      @extend %unstyled-list;

      li {
        display: inline-block;
        &:first-child a { @include border-right-radius(0); }
        &:last-child a { @include border-left-radius(0); }
      }

      a {
        @extend %button;
        width: rhythm(4);
      }

      i {
        $font-size: 48px;
        @extend %border-radius;
        @include adjust-font-size-to($font-size);
        display: block;
        width: auto;
      }
    }

  }

}
