body.students {

  &.index {

    ol.students { @extend %nice-list; }

    .username {
      font-weight: 300;
      color: rgba(black, .5);
      &:before { content: '('; }
      &:after { content: ')'; }
    }

  }

}
