body.updates {

  article {
    margin-bottom: $baseLineHeight/2;
    padding-bottom: $baseLineHeight/2;
    border-bottom: 1px dashed rgba(black, .25);
  }

  time {
    font-size: $fontSizeSmall;
    color: rgba(black, .5);
  }

}
