%div
  .label Nije odgovoreno

.l-feedback.reveal-content.is-hidden{class: "l-question-#{question.category}", data: {reveal: "Prikaži točan odgovor"}}
  = render "questions/correct_answer/#{question.category}", {question: question}
