%div
  .label.label-important
    = icon("cancel-circle-full")
    Pogrešan odgovor

.l-feedback.reveal-content.m-top-hl{class: "l-question-#{question.category}", data: {reveal: "Prikaži točan odgovor"}}
  = render "questions/correct_answer/#{question.category}", question: question
