body {
  overflow-y: scroll;
  font-weight: nth($base-weight, 3);
}

h1 {
  font-weight: nth($base-weight, 4);
}

h2 {
  font-size: 34px;
  font-weight: nth($base-weight, 3);
}

h3 {
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: nth($base-weight, 2);
  color: rgba(black, 1);
}

strong {
  font-weight: nth($base-weight, 4);
}

q {
  color: $orange;
}

form {
  ol, ul {
    @include list-unstyled;
  }
}

[type="submit"],
button {
  @include box-sizing(content-box);
}

.controls input[type="file"] {
  cursor: pointer;
  margin-bottom: $baseLineHeight/2;
}

textarea {
  @include input-block-level;
  height: $inputHeight;
  resize: vertical;
}

input,
.uneditable-input {
  width: 25em;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  // Focus state
  &:focus {
    border-color: rgba(black,.4);
    @include box-shadow((inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(black,.15)));
  }
}

label,
input,
textarea,
select,
button {
  font-size: inherit;
  font-weight: inherit;
}

label {
  display: inline-block;
  cursor: pointer;
  font-weight: inherit;
}
