@mixin list-unstyled {
  margin-left: 0;
  list-style: none;
}

@mixin on-interact {
  &:hover,
  &:focus {
    @content;
  }
}

@mixin color-link($color1, $color2: $color1) {
  color: $color1;
  @include on-interact {
    color: $color2;
  }
}
