$base-font-size: 16px;
$base-line-height: 28px;

$form-font-size: 14px;

$default-rhythm-border-style: dashed;

$default-border-radius: 3px;

$text: lighten(black, 30%);

$link1: hsl(0, 50%, 50%);
$link2: darken($link1, 5%);

$body: 'McLaren', 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, sans-serif;

@mixin color-link($color1, $color2) {
  @include link-colors($color1, $color2, $color2, $color1, $color2);
}
