%inline-block {
  display: inline-block;
  vertical-align: middle;
}

%unstyled-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

%nice-list {
  @extend %unstyled-list;
  @include rhythm(1, 0, 0, 1);

  li {
    @include padding-leader(.5);
    @include trailing-border(1px, .5);
    @include clearfix;
    border-color: rgba(black, .25);
    &:first-child { @include padding-leader(0); }
    &:last-child { @include trailing-border(0px, 0); }
  }
}

%pie-clearfix {
  @include pie-clearfix;
}

%unselectable {
  @include user-select(none);
}

%border-radius {
  @include border-radius;
}

%circle {
  @include border-radius(50%);
}

%prepend-newline {
  &:before {
    content: '\a';
    white-space: pre;
  }
}

%append-newline {
  &:after {
    content: '\a';
    white-space: pre;
  }
}

%full-width {
  padding-left: $grid-padding;
  padding-right: $grid-padding;
  margin-left: - $grid-padding;
  margin-right: - $grid-padding;
}

%subtle {
  $c1: rgba(black, .4);
  $c2: $link2;
  @include color-link($c1, $c2);
  margin: 0;
  padding: 0;
  font-size: inherit;
  color: $c1;
  border: none;
  background: none;
  cursor: pointer;
  &:hover {
    text-decoration: none;
    color: $c2;
  }
}

%flash {
  @extend %border-radius;
  @include rhythm-borders(1px, .5);
  @include trailer;
  @include clearfix;

  p { @include trailer(0); }
}

%flash-notice {
  @extend %flash;
  $color: hsl(120, 80%, 35%);
  color: $color;
  border-color: $color;
  background: rgba($color, .1);
  button {
    color: rgba($color, .25);
    &:hover { color: $color; }
  }
}

%flash-alert {
  @extend %flash;
  $color: hsl(0, 90%, 60%);
  color: $color;
  border-color: $color;
  background: rgba($color, .1);

  button {
    color: rgba($color, .25);
    &:hover { color: $color; }
  }
}

%button {
  @extend %inline-block;
  @extend %border-radius;
  $c1: rgba(black, .5);
  $c2: rgba(black, .75);
  @include h-borders(1px, .25);
  @include v-borders(1px, .5);
  @include color-link($c1, $c2);
  font-size: inherit;
  line-height: inherit;
  text-align: center;
  color: $c1;
  border-color: rgba(black, .25);
  background: rgba(black, .025);
  &:hover {
    cursor: pointer;
    text-decoration: none;
    color: $c2;
    border-color: rgba(black, .5);
    background: rgba(black, .05);
  }
}

%primary-button {
  @extend %button;
  $c1: white;
  $c2: $c1;
  @include color-link($c1, $c2);
  color: $c1;
  border: none;
  padding: rhythm(.25) rhythm(.5);
  background: $link1;
  &:hover {
    color: $c2;
    background: $link2;
  }
  &[disabled] {
    cursor: default;
    &, &:hover {
      background: scale-color($link1, $saturation: -30%, $lightness: 30%);
    }
  }
}
