%unstyled-list {
  margin-left: 0;
  list-style: none;
}

%unselectable {
  @include user-select(none);
  cursor: default;
}

%pretty-list {
  @extend %unstyled-list;
  clear: both;

  li {
    @include clearfix;
    padding: 8px .5em;

    &:nth-child(odd) {
      background: $tableBackgroundAccent;
      border: {
        top: 1px solid $tableBorder;
        bottom: 1px solid $tableBorder;
      }
    }
  }

  .btn-group { float: right; }

  span {
    display: inline-block;
    line-height: $inputHeight;
  }

  &.list-hover li:hover {
    cursor: pointer;
    background: rgba($linkColor, .05);
    color: $linkColor;
    &, .category { color: $linkColor; }
  }
}
