%unstyled-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

%inline-block {
  @include inline-block;
}

%border-radius {
  @include border-radius;
}

%prepend-newline {
  &:before {
    content: '\a';
    white-space: pre;
  }
}

%append-newline {
  &:after {
    content: '\a';
    white-space: pre;
  }
}

%full-width {
  padding-left: $grid-padding;
  padding-right: $grid-padding;
  margin-left: - $grid-padding;
  margin-right: - $grid-padding;
}

%text-input {
  @extend %border-radius;
  @include rhythm-borders(1px, .25, $border-style: solid);
  border-color: rgba(black, .25);
}

%subtle {
  $font-size: 22px;
  $c1: rgba(black, .4);
  $c2: $link2;
  @include adjust-font-size-to($font-size);
  @include color-link($c1, $c2);
  margin: 0;
  padding: 0;
  color: $c1;
  border: none;
  background: none;
  cursor: pointer;
  &:hover {
    text-decoration: none;
    color: $c2;
  }
}

%small-controls {
  float: right;
  margin-left: rhythm();
  a {
    @extend %inline-block;
    @extend %subtle;
    &:nth-child(n+1) { margin-left: rhythm(.25); }
  }
  i { width: auto; }
}

%button {
  $c1: rgba(black, .5);
  $c2: rgba(black, .75);
  @extend %inline-block;
  @extend %border-radius;
  @include h-borders(1px, .25);
  @include v-borders(1px, .5);
  @include color-link($c1, $c2);
  text-align: center;
  color: $c1;
  border-color: rgba(black, .25);
  background: rgba(black, .025);
  &:hover {
    cursor: pointer;
    text-decoration: none;
    color: $c2;
    border-color: rgba(black, .5);
    background: rgba(black, .05);
  }
}

%primary-button {
  @extend %button;
  $c1: $link1;
  $c2: $link2;
  @include color-link($c1, $c2);
  color: $c1;
  border-color: rgba($link1, .5);
  background: rgba($link1, .05);
  &:hover {
    color: $c2;
    border-color: rgba($link1, .75);
    background: rgba($link1, .1);
  }
}
