// general

form {
  > div,
  > section { @include trailer(.5); }

  ol, ul {
    @extend %unstyled-list;
    @include trailer(.5);
  }

  p.notice {
    @include with-font-size($small-font-size) {
      font-family: $small-font-family;
      color: rgba(black, .4);

      i { margin-right: rhythm(.1); }
    }
  }
}

[hidden] {
  display: none;
}

// controls

.controls {
  @include clearfix;
  float: right;
  margin-left: rhythm();
  a {
    @extend %subtle;
    display: block;
    float: left;
    padding: 0 rhythm(.25);
  }
}

// flash messages

.flash {
  &.notice { @extend %flash-notice; }
  &.alert { @extend %flash-alert; }
}

// labels

label {
  @include user-select(none);
  &:hover { cursor: pointer; }
  &:after { content: ':'; }

  &.checkbox,
  &.radio,
  [type="radio"] + &,
  [type="checkbox"] + & {
    padding-left: rhythm(.25);
    font-weight: 300;
    &:after { content: ''; }
  }
}

// interactive elements

$cols: $total-columns / 2;
input,
button,
textarea {
  width: columns($cols);
  margin: 0;
  font-family: inherit;
  color: rgba(black, .6);
}

input[type="submit"],
input[type="radio"],
input[type="checkbox"],
input[type="file"],
button {
  width: auto;
}

@include text-input {
  @include with-font-size($text-input-font-size) {
    @extend %border-radius;
    @include rhythm-borders(1px, .25);
    @include input-placeholder { font-weight: 300; }
    display: block;
    font: {
      family: $text-input-font-family;
      weight: 300;
    }
    border-color: rgba(black, .25);
    &:focus {
      @include box-shadow(rgba(black, .05) 0 0 0 4px);
      outline: none;
      border-color: rgba(black, .35);
    }
  }

}

textarea {
  max-width: 100%;
}

input[type="file"] {
  margin-left: rhythm(.25)
}

input[type="radio"],
input[type="checkbox"] {
  padding-right: rhythm(.25);
  label + & {
    margin-left: rhythm(.25);
  }
}

span {
  &.radio,
  &.checkbox {
    margin-left: rhythm(.5);
  }
}

label + select {
  margin-left: rhythm(.5);
}

// modular controls

.add {
  @extend %subtle;
  @include trailer(.5);
}

.remove {
  @include with-font-size(12px) {
    float: right;
    cursor: pointer;
    margin: 0 0 0 rhythm(.5);
    padding: 0;
    color: rgba(black, .15);
    border: none;
    background: none;
    &:hover { color: rgba(black, .5); }
    &:active { color: $text; }
  }
}

// hints

.hint {
  @include with-font-size(14px) {
    font-weight: 300;
    color: rgba(black, .4);
  }
}

.field_with_hint {
  @include trailer(0);
}

// validation errors

.alert-error {
  @extend %flash-alert;
}

span.error {
  @include with-font-size(14px) {
    color: red;
    select + &, [type=file] + &, .hint + & {
      margin-left: rhythm(.25);
    }
  }
}

.field_with_errors {
  @include text-input {
    border-color: rgba(red, .5);
    &:focus {
      @include box-shadow(rgba(red, .1) 0 0 0 4px);
      outline: none;
      border-color: rgba(red, .75);
    }
  }
}

// buttons

.buttons {
  @include rhythm(1, 0, 0, 1);
  clear: both;
  input, button { @extend %primary-button; }

  a { @extend %button; }

  button {
    height: rhythm(1.5);
    margin-left: rhythm(.1);
  }

  i { height: rhythm(); }
}
