form {
  & > div {
    @include trailer(.5);
  }
}

input, select, textarea {
  @include adjust-font-size-to($form-font-size, 1, $base-font-size);
  margin: 0;
  font-family: $body;
  color: rgba(black, .6);
}

$tmp: $base-font-size;
$base-font-size: $form-font-size;

[type=text], [type=password], [type=number], textarea {
  @extend %text-input;
  display: block;
}

[type=file] {
  margin-left: rhythm(.25)
}

[type=radio] {
  position: relative;
  top: 2px;
  margin: rhythm(.5) rhythm(.5) 0 0;
}

label + select {
  margin-left: rhythm(.5);
}

label {
  &:hover { cursor: pointer; }
  &:after { content: ':'; }
  &[class^=collection] { @extend %append-newline; }
}

.controls {
  @include trailer;
}

$base-font-size: $tmp;
