form {
  & > div { @include trailer(.5); }
  ol, ul { @extend %unstyled-list; }
  .controls {
    @include rhythm(1, 0, 0, 1);
    [type=submit] { @extend %primary-button; }
    a { @extend %button; }
  }
}

input, button, select, textarea {
  margin: 0;
  font: {
    size: inherit;
    family: inherit;
  }
  line-height: inherit;
  color: rgba(black, .6);
}

[type=text], [type=password], [type=number], textarea {
  @extend %text-input;
  display: block;
}

[type=file] {
  margin-left: rhythm(.25)
}

[type=radio], [type=checkbox] {
  margin-right: rhythm(.25);
  &:first-of-type { margin-left: rhythm(.25); }
}

label + select {
  margin-left: rhythm(.5);
}

label {
  &:hover { cursor: pointer; }
  &:after { content: ':'; }
  &[class^=collection] { @extend %append-newline; }
  &.checkbox, &.radio {
    &:after { content: ''; }
  }
}

.icon { @extend %subtle; }
