form {
  > div, > ol, > ul, > section { @include trailer(.5); }
  ol, ul { @extend %unstyled-list; }
  .controls {
    @include rhythm(1, 0, 0, 1);
    [type=submit] { @extend %primary-button; }
    a { @extend %button; }
  }
}

input, button, select, textarea {
  margin: 0;
  font: {
    size: inherit;
    family: inherit;
  }
  line-height: inherit;
  color: rgba(black, .6);
}

[type=text], [type=password], [type=number], textarea {
  @extend %text-input;
  display: block;
}

[type=file] {
  margin-left: rhythm(.25)
}

[type=radio], [type=checkbox] {
  padding-right: rhythm(.25);
  label + & {
    margin-left: rhythm(.25);
  }
}

span {
  &.radio, &.checkbox { margin-left: rhythm(.5); }
}

label + select {
  margin-left: rhythm(.5);
}

label {
  &:hover { cursor: pointer; }
  &:after { content: ':'; }
  [type=radio], [type=checkbox] + & {
    padding-left: rhythm(.25);
    &:after { content: ''; }
  }
  &.checkbox, &.radio, &[class^=collection] {
    padding-left: rhythm(.25);
    &:after { content: ''; }
  }
}

.icon { @extend %subtle; }

.hint {
  @include with-font-size(14px) {
    color: rgba(black, .25);
  }
}

.field_with_hint { @include trailer(0); }

.alert-error {
  @extend %flash-alert;
}

span.error {
  @include with-font-size(14px) {
    color: red;
    select + &, [type=file] + &, .hint + & {
      margin-left: rhythm(.25);
    }
  }
}

.field_with_errors {
  [type=text], [type=password], [type=number], textarea {
    border-color: rgba(red, .5);
    &:focus {
      @include box-shadow(rgba(red, .25) 0 0 3px);
      outline: none;
      border-color: rgba(red, .75);
    }
  }
}
