// general

form {
  > * { @include trailer(.5); }
  ol, ul {
    @extend %unstyled-list;
    @include trailer(.5);
  }
  h2 {
    @include with-font-size(28px) {
      @include trailer(.5);
    }
  }
  p.notice {
    @include with-font-size(16px) {
      color: rgba(black, .3);
      i { margin-right: rhythm(.1); }
    }
  }
}

// controls

.controls {
  float: right;
  margin-left: rhythm();
  a {
    @extend %inline-block;
    @extend %subtle;
    &:nth-child(n+1) { margin-left: rhythm(.25); }
  }
}

// flash messages

.flash {
  &.notice { @extend %flash-notice; }
  &.alert { @extend %flash-alert; }
}

// labels

label {
  &:hover { cursor: pointer; }
  &:after { content: ':'; }
  [type=radio], [type=checkbox] + & {
    padding-left: rhythm(.25);
    &:after { content: ''; }
  }
  &.checkbox, &.radio, &[class^=collection] {
    padding-left: rhythm(.25);
    &:after { content: ''; }
  }
}

// interactive elements

input, button, textarea {
  margin: 0;
  color: rgba(black, .6);
}

[type=text], [type=password], [type=number], textarea {
  @extend %text-input;
  display: block;
}

[type=file] {
  margin-left: rhythm(.25)
}

[type=radio], [type=checkbox] {
  padding-right: rhythm(.25);
  label + & {
    margin-left: rhythm(.25);
  }
}

span {
  &.radio, &.checkbox { margin-left: rhythm(.5); }
}

label + select {
  margin-left: rhythm(.5);
}

// hints

.hint {
  @include with-font-size(14px) {
    color: rgba(black, .25);
  }
}

.field_with_hint { @include trailer(0); }

// validation errors

.alert-error {
  @extend %flash-alert;
}

span.error {
  @include with-font-size(14px) {
    color: red;
    select + &, [type=file] + &, .hint + & {
      margin-left: rhythm(.25);
    }
  }
}

.field_with_errors {
  [type=text], [type=password], [type=number], textarea {
    border-color: rgba(red, .5);
    &:focus {
      @include box-shadow(rgba(red, .25) 0 0 3px);
      outline: none;
      border-color: rgba(red, .75);
    }
  }
}

// buttons

.buttons {
  @include rhythm(1, 0, 0, 1);
  clear: both;
  input, button { @extend %primary-button; }
  a { @extend %button; }
}
