body.games {
  &.new {
    form p { @include trailer(.5); }

    .quizzes {
      li { @extend %inline-block; }

      input {
        display: none;

        + label {
          @extend %border-radius;
          @extend %inline-block;
          @include rhythm-borders(1px, .5);
          margin: 0 rhythm(.25) rhythm(.25) 0;
          color: rgba(black, .5);
          border-color: rgba(black, .1);
          background: rgba(black, .025);
        }

        &:checked + label {
          color: $text;
          border-color: rgba(black, .5);
          background: rgba(black, .05);
        }
      }
    }

    .name { font-weight: bold; }
  }

  &.edit {
    h1, #username { float: left; }

    #username {
      @include with-font-size(24px) {
        @include rhythm(1.25, 0, 0, 0);
        margin-left: rhythm();
        color: rgba(black, .25);
      }
    }

    h2.question {
      @include with-font-size(28px) {
        @include trailer(.5);
      }
    }

    form.association {
      $cols: 4;
      .column {
        @extend %unstyled-list;
        @include span-columns($cols);
        @include rhythm(0, 0, 0, 1);

        li { @include trailer(.25); }
      }

      .static {
        li {
          @include clearfix;
          cursor: default;
          padding: rhythm(.25);
        }

        i {
          float: right;
          margin-right: rhythm(.5);
          color: rgba(black, .25);
        }
      }

      .interactive {
        li {
          @extend %border-radius;
          @include rhythm-borders(1px, .25);
          @include box-sizing(content-box);
          @include user-select(none);
          cursor: move;
          border-color: darken(white, 25%);
          background: darken(white, 2%);
        }
        .placeholder {
          border: 1px dashed darken(white, 20%);
          background: darken(white, 1%);
        }
      }

      .controls { clear: both; }
    }

    form.photo {
      .img {
        float: left;
        margin-right: rhythm();
      }
    }

    @each $context in one $player-one, two $player-two {
      &.#{nth($context, 1)} {
        $color: nth($context, 2);
        #username { color: $color; }
      }
    }
  }

  &.show {
    .controls a {
      @extend %button;
    }
  }

  // general stuff

  #progress {
    @extend %border-radius;
    @include trailer;
    height: rhythm(.25);
    clear: both;
    overflow: hidden;
    border: 1px solid rgba(black, .25);
    div {
      float: left;
      height: 100%;
      border-right: 1px solid rgba(black, .25);
      &:last-child { border: none; }
    }
    [data-done] { background: rgba(black, .1); }
  }

  #score {
    $height: 2;
    @extend %unstyled-list;
    @include trailer;

    li {
      @extend %border-radius;
      @include trailer(.25);
      position: relative;
      height: rhythm($height);
      overflow: hidden;

    }

    .username {
      @include with-font-size(24px, $height) {
        position: absolute;
        z-index: 10;
        width: 100%;
        text-align: center;
      }
    }

    .bar { height: 100%; }

    @each $context in one $player-one, two $player-two {
      .#{nth($context, 1)} {
        $color: nth($context, 2);
        border: 1px solid $color;
        .username { color: rgba($color, .5); }
        .bar {
          background: rgba($color, .5);
          outline: 1px solid rgba($color, .75);
        }
      }
    }
  }

}
