@include establish-baseline;
@include border-box-sizing;

html {
  height: 100%;
  background: rgba(black, .1) image-url('header.png') repeat;
}

body {
  @include container;
  @include box-shadow(
    rgba(black, .25) 0 0 1em,
    rgba(black, .25) 0 0 0 1px
  );
  min-height: 100%;
  overflow-y: scroll;
  font-family: $base-font-family;
  color: $text;
  background: white;
}

h1,
h2,
h3 {
  @include leader(0);
  font-weight: normal;
}

h1 {
  @include with-font-size(58px) {
    @include trailer;
  }
}

h2 {
  @include with-font-size(42px) {
    @include trailer(.5);
  }
}

p,
ol,
ul,
dl { @include rhythm(0, 0, 0, .5); }

a {
  @include hover-link;
  @include link-colors($link1, $link2, $link2, $link1, $link2);
}

dt,
dd { display: inline; }

dt {
  font-weight: bold;
  &:after { content: ': '; }
}

dd {
  @extend %append-newline;
  margin: 0;
}

.img {
  @extend %inline-block;
  @extend %border-radius;
  line-height: 0;
  overflow: hidden;
  border: 1px solid rgba(black, .75);
}

.remove {
  @include with-font-size(12px) {
    float: right;
    cursor: pointer;
    margin: 0 0 0 rhythm(.5);
    padding: 0;
    color: rgba(black, .15);
    border: none;
    background: none;
    &:hover { color: rgba(black, .5); }
    &:active { color: $text; }
  }
}
