@include establish-baseline;
@include border-box-sizing;

body {
  overflow-y: scroll;
  font-family: $base-font-family;
  color: $text;
  background: rgba(black, .1) image-url('bg-pattern.png') repeat;
}

.page_wrapper {
  @include container;
}

h1,
h2,
h3 {
  @include leader(0);
  color: darken($text, 10%);
}

h1 {
  @include with-font-size($x-large, 2) {
    @include trailer;
    strong { font-weight: 900; }
  }
}

h2 {
  @include with-font-size($large, 7/4) {
    @include trailer(3/4);
    font-weight: 300;
    strong { font-weight: 700; }
  }
}

h3 {
  @include with-font-size($medium, 3/2) {
    @include trailer(1/2);
    font-weight: 100;
    strong { font-weight: 500; }
  }
}

p,
ol,
ul,
dl {
  @include rhythm(0, 0, 0, .5);
}

a {
  @include hover-link;
  @include link-colors($link1, $link2, $link2, $link1, $link2);
}

img {
  vertical-align: middle;
}

hr {
  @include rhythm(1/2, 0, 0, 1/2);
  display: block;
  height: 1px;
  border: none;
  border-top: 1px solid $text;
}

dt,
dd {
  display: inline;
}

dt {
  font-weight: bold;
  &:after { content: ': '; }
}

dd {
  @extend %append-newline;
  margin: 0;
}
