body {
  overflow-y: scroll;
  font-weight: nth($base-weight, 3);
}

.container-fluid {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.main_content {
  position: relative;
  padding-top: $baseLineHeight;
}

h1 {
  .name:after,
  .section {
    color: rgba(black, .5);
  }

  .name:after {
    content: " \e028";
    font-size: 28px;
    font-family: "icons";
  }

  .section {
    font-weight: nth($base-weight, 2);
  }
}

h2 {
  font-size: 34px;
  font-weight: nth($base-weight, 2);
}

h3 {
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: nth($base-weight, 2);
  color: rgba(black, 1);
}

.unstyled_list {
  @extend %unstyled-list;
}

.no_bullets {
  list-style: none;
  margin-left: $baseLineHeight/2;
}

table {
  @extend .table;
  @extend .table-striped;

  td { vertical-align: middle; }

  .short { text-align: center; }
}

.no_items { clear: both; }

.count {
  color: rgba(black, .5);
  &:before  { content: "("; }
  &:after   { content: ")"; }
}

.breadcrumb {
  li { height: $baseLineHeight; }
  i { font-size: 12px; }
}
