header {
  @include clearfix;
  @include rhythm(0, .5, .5, 0);
  @include text-shadow(white 0 1px 1px);
  color: rgba(black, .6);
}

#logo {
  @include with-font-size($medium) {
    @include trailer(0);
    float: left;
    font-weight: 900;

    a {
      display: block;
      height: rhythm(lines-for-font-size(32px));
      &:hover { text-decoration: none; }
    }

    i {
      @include with-font-size(38px) {
        position: relative;
        top: 3px;
        height: rhythm(lines-for-font-size(32px));
      }
    }
  }
}

#log {
  @include with-font-size($small-font-size) {
    @include rhythm(.75, 0, 0, 0);
    float: right;
  }
}
