header {
  $offset: $grid-padding + rhythm(.5);
  @include clearfix;
  @include rhythm(0, .5, .5, 1);
  @include trailing-border(1px, .5);
  @include v-borders;
  @include border-bottom-radius;
  @include box-shadow(rgba(black, .1) 0 0 .75em);
  @include text-shadow(white 0 1px 1px);
  border-color: rgba(black, .3);
  padding-left: $offset;
  padding-right: $offset;
  margin-left: - $offset;
  margin-right: - $offset;
  color: rgba(black, .6);
  background: darken(white, 8%);
}

#logo {
  @include with-font-size(38px) {
    @include trailer(0);
    float: left;
    a {
      $c1: rgba(black, .5);
      $c2: $link2;
      @include color-link($c1, $c2);
      &:hover { text-decoration: none; }
    }
    i { height: rhythm(lines-for-font-size(38px)); }
  }
}

#log {
  @include with-font-size(14px) {
    @include rhythm(.75, 0, 0, 0);
    float: right;
  }
}
