.navbar-inverse .navbar-inner .brand {
  font-weight: $black;
  @include text-shadow(rgba(white, .25) 0 1px 0);
  @include color-link(darken($navbarInverseBackground, 10%), white);
  &, &:hover { @include transition(all .2s); }
  &:hover {
    @include text-shadow(rgba(black, .25) 0 -1px 0);
  }
}

.navbar-inner {
  padding: {
    left: $gridGutterWidth;
    right: $gridGutterWidth;
  }
}

body > .alert {
  @include border-radius(0);
  padding-left: $gridGutterWidth;
  margin-bottom: 0;

  form { margin: 0; }
  .close { right: 12px; }
}

.container-fluid {
  padding-bottom: $gridGutterWidth;
}
