.js {

  body.games {
    &.new {
      .players,
      .login,
      .btn-toolbar {
        display: none;
      }
    }
  }

  .question_association {
    &.show {
      ul { display: none; }
    }
  }

  .question_image {
    &.edit,
    &.new {
      > .file,
      > .url {
        display: none;
      }
    }
  }

}
