.js {

  body.games {
    &.new {
      .players,
      .login,
      .btn-toolbar {
        display: none;
      }
    }
    &.create {
      .btn-toolbar {
        display: none;
      }
    }
  }

  .question_association {
    &.show {
      ul { display: none; }
    }
  }

  .question_image {
    &.new,
    &.edit,
    &.create {
      > .file {
        div.file,
        div.url {
          display: none;
        }
      }
    }
  }

}
