@mixin prefix-rule($property, $value, $prefixes) {
  @each $prefix in $prefixes {
    -#{$prefix}-#{$property}: $value;
  }
}

@mixin color-link($color1, $color2) {
  @include link-colors($color1, $color2, $color2, $color1, $color2);
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin square($size) {
  @include size($size, $size);
}

@mixin with-font-size($to-size, $lines: lines-for-font-size($to-size), $from-size: $base-font-size) {
  @include adjust-font-size-to($to-size, $lines, $from-size);
  $tmp: $base-font-size;
  $base-font-size: $to-size;
  @content;
  $base-font-size: $tmp;
}

@mixin v-borders($width: 1px, $lines: 1, $font-size: $base-font-size, $border-style: $default-rhythm-border-style) {
  @include apply-side-rhythm-border(left, $width, $lines, $font-size, $border-style);
  @include apply-side-rhythm-border(right, $width, $lines, $font-size, $border-style);
}

@mixin text-input {
  input[type="text"],
  input[type="password"],
  input[type="number"],
  input[type="email"],
  input[type="url"],
  input[type="search"],
  textarea {
    @content;
  }
}

// by Harry Roberts (@csswizardry)

@mixin truncate($truncation-boundary) {
  max-width: $truncation-boundary;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
