@each $player in $players {
  .player_#{nth($player, 1)} {
    $color: nth($player, 2);
    color: $color;

    &.question_number {
      color: white;
      background: $color;
    }

    .bar {
      border: 1px solid $color;
      background: rgba($color, .05);
    }

    .label { color: rgba($color, .5); }

    .fill {
      background: rgba($color, .5);
      outline: 1px solid rgba($color, .75);
    }
  }
}
