.profile_info {
  margin-bottom: $baseLineHeight/2;
  .field {
    width: 200px;
  }
}

.edit_profile,
.questions_privacy {
  margin-bottom: $baseLineHeight;
}

.delete_profile {
  @include color-link($btnDangerBackgroundHighlight, darken($btnDangerBackgroundHighlight, 10%));
}
