body.quizzes {
  &.index {
    th, td {
      &:nth-child(3) { text-align: center; }
    }
  }

  &.new {
    .notice {
      @include trailer(0);
      color: rgba(black, .4);
      i { margin-right: rhythm(.1); }
    }
  }
  &.show {
    #questions {
      padding-left: rhythm();
      li { @include pie-clearfix; }
      .controls { @extend %small-controls; }
    }
  }
}
