// misc

html {
  @include prefix-rule('text-size-adjust', 100%, webkit ms)
}

body {
  margin: 0;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

// HTML5 elements for older browsers

header,
hgroup,
nav,
article,
section,
aside,
footer {
  display: block;
}

// forms

[hidden] {
  display: none;
}

label,
button,
input[type="submit"] {
  cursor: pointer;
}

input,
button,
textarea {
  margin: 0;
  font-family: inherit;
  &:focus { outline: none; }
}
