body.schools {
  &.show {
    .controls { @include trailer; }
    #edit {
      @extend %unstyled-list;

      li {
        @extend %inline-block;
        &:first-child a { @include border-right-radius(0); }
        &:last-child a { @include border-left-radius(0); }
      }

      a {
        @extend %button;
        width: rhythm(4);
      }

      i {
        $font-size: 48px;
        @extend %border-radius;
        @include adjust-font-size-to($font-size);
        display: block;
        width: auto;
      }
    }
  }
}
