table {
  @include trailer;
  @include border-radius;
  width: rhythm(20);
  border-collapse: collapse;

  th, td {
    padding: rhythm(.25);
  }

  thead {
    $bg: lighten(black, 25%);
    text-align: left;
    color: white;
    background: $bg;
    tr {
      border: 1px solid $bg;
    }
  }

  tbody {
    tr {
      border-bottom: 1px dashed rgba(black, .15);
      border-right: 1px solid rgba(black, .25);
      border-left: 1px solid rgba(black, .25);
      &:last-child { border-bottom: 1px solid rgba(black, .25); }
      &:nth-child(2n) { background: rgba(black, .025); }
    }
  }

  a { @extend %small-controls; }
}
