table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: rhythm(1/4);
  text-align: left;
}

thead {
  color: rgba(black, 1/2);
  th { font-weight: 300; }
}

tbody {
  font-weight: 500;

  tr:nth-child(odd) {
    background: rgba(black, 1/30);
  }
}
