$outer-border: 1px solid lighten(black, 50%);
$inner-border: 1px solid darken(white, 20%);

.table {
  @extend %inline-block;
  @extend %border-radius;
  @include trailer;
  overflow: hidden;
  border: $outer-border;
}

table {
  width: rhythm(20);
  border-collapse: collapse;

  th, td { padding: rhythm(.25); }

  thead {
    text-align: left;
    background-color: rgba(black, .025);
  }

  tbody {
    border-top: $outer-border;
    tr {
      border-bottom: $inner-border;
      &:last-child { border-bottom: none; }
      &:nth-child(2n) { background: rgba(black, .025); }
    }
  }

  .controls {
    @extend %small-controls;
    float: none;
    margin-left: 0;
  }
}
