// susy

$total-columns: 12;
$gutter-width: 2em;
$grid-padding: 2em;

$container-width: 960px;
$container-style: static;

// modular scale

$base-size: 13px 18px;
$ratio: golden();

$xxx-small:   ms(-3);
$xx-small:    ms(-2);
$x-small:     ms(-1);
$small:       ms(0);

$normal:      ms(1);
$medium:      ms(3);

$large:       ms(4);
$x-large:     ms(6);
$xx-large:    ms(7);
$xxx-large:   ms(8);

// vertical rhythm

$base-font-size: $normal;
$base-line-height: $medium;

// css3

$default-border-radius: 3px;

// colors

$red:     hsl(0, 50%, 50%);
$purple:  hsl(270, 50%, 50%);
$orange:  hsl(30, 60%, 50%);

$text:    lighten(black, 30%);

$link1:   $red;
$link2:   darken($link1, 5%);

$correct: hsl(100, 75%, 25%);
$wrong:   hsl(0, 90%, 60%);

$players:
  one $purple,
  two $orange;

// type

$base-font-family: 'museo-sans', 'Trebuchet MS', Verdana, sans-serif;

$text-input-font-family: $base-font-family;
$text-input-font-size: $base-font-size - 2px;

$small-font-family: verdana, sans-serif;
$small-font-size: $small;
