// bootstrap

$sansFontFamily:                      "museo-sans", sans-serif;
$baseFontSize:                        18px;
$baseLineHeight:                      28px;

$smallFontFamily:                     Verdana, "Trebuchet MS", "Helvetica Neue", Helvetica, Arial, sans-serif;

$linkColor:                           hsl(15, 70%, 55%);
$linkColorHover:                      darken($linkColor, 15%);

$tableBackgroundHover:                rgba($linkColor, .1);

$btnPrimaryBackground:                adjust-lightness($linkColor, 5%);
$btnPrimaryBackgroundHighlight:       adjust-lightness($linkColor, -10%);

$navbarHeight:                        $baseLineHeight*2;

$navbarInverseBackground:             hsl(15, 55%, 45%);
$navbarInverseBackgroundHighlight:    adjust-lightness($navbarInverseBackground, 5%);
$navbarInverseBorder:                 adjust-lightness($navbarInverseBackground, -10%);

$navbarInverseText:                   white;
$navbarInverseLinkColor:              rgba(white, .8);
$navbarInverseLinkColorHover:         white;
$navbarInverseLinkColorActive:        $navbarInverseLinkColorHover;
$navbarInverseLinkBackgroundHover:    transparent;
$navbarInverseLinkBackgroundActive:   $navbarInverseBackground;

$heroUnitBackground:                  adjust-color($linkColor, $lightness: 40%);

$gridGutterWidth:                     35px;

// weights

$thin:    100;
$light:   300;
$regular: 500;
$bold:    700;
$black:   900;

// colors

$players:
  one hsl(270, 50%, 50%),
  two hsl(30, 60%, 50%);
