- title "Anketa"

%h1 Anketa

%p Ako imate mrvicu vremena, puno biste nam pomogli ako biste ispunili #{link_to "ovu anketu"}. Kada ste ispunili, potvrdite ispod.

= buttons do
  = primary_button "Ispunio/la sam anketu", complete_survey_path, method: :post
  = cancel_button "Odustani", :back
