<!DOCTYPE html>
<html lang="hr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kvizovi</title>
    <meta name="description" content="Jednostavna aplikacija za igranje kvizova.">
  </head>
  <body>
    <div id="root"></div>
    <% if (htmlWebpackPlugin.options.IS_PROD) { %>
    <script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyAffaE7JNm6YC8yg8KZ5mLTQkjmW5QX2es",
        authDomain: "project-3374586434274435102.firebaseapp.com",
        databaseURL: "https://project-3374586434274435102.firebaseio.com",
        storageBucket: "",
      };
      firebase.initializeApp(config);
    </script>
    <% } %>
  </body>
</html>
