.l-question-design-association {
  .pair {
    .control-group,
    .close,
    i {
      display: inline-block;
    }

    input.string {
      // width: 380px;
      // margin-bottom: 0;
    }

    .arrow {
      position: relative;
      top: 3px;
      margin: 0 5px;
      color: rgba(black, .25);
    }

    .close {
      float: none;
      margin-left: 8px;
    }
  }
}
