.l-question-design-image {
  .btn {
    margin: 0 5px 6px 0;
  }

  input[type="file"] {
    $margin: 8px;
    height: 38px - $margin;
    margin-top: $margin;
    line-height: inherit;
  }

  .image-preview {
    margin-bottom: $baseLineHeight/2;
    max-height: 250px;
  }
}
