- if current_user.is_a?(Student)
  %p#log Prijavljen si kao #{link_to current_user, current_user} | #{logout_button "Odjava", logout_path}
- else
  %p#log Prijavljeni ste kao #{link_to current_user, current_user} | #{logout_button "Odjava", logout_path}
