%ul.nav.navbar-nav.navbar-left

%ul.nav.navbar-nav.navbar-right
  = active_content_tag :li, params[:action] == "tour" do
    = link_to "VodiÄ", tour_path
  = active_content_tag :li, params[:action] == "contact" do
    = link_to "Kontakt", contact_path
