- if user_logged_in?
  %ul.nav.pull-left
    - navigation_pages_for(current_user).each do |page_title, page_path, active|
      %li{class: ("active" if active)}
        = link_to page_title, page_path
