= javascript_include_tag "//use.typekit.net/nfo7hcu.js"
%script try{Typekit.load();}catch(e){}
%script
  -# by Paul Irish (@paul_irish)
  (function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)

