%p Dobrodošli!

%p Možete potvrditi vaš korisnički račun slijedeći link ispod:

%p= link_to confirmation_url(@resource, :confirmation_token => @token), confirmation_url(@resource, :confirmation_token => @token)
