%p Poštovani,

%p Netko je zatražio link za promjenu vaše lozinke. To možete napraviti slijedeći link ispod.

%p= link_to edit_password_url(@resource, :reset_password_token => @token), edit_password_url(@resource, :reset_password_token => @token)

%p Ako vi to niste zatražili, samo ignorirate ovaj email.
%p Vaša lozinka se neće promijeniti dok ne posjetite link iznad i ne napravite novu.
