%ul.nav.pull-left
  - if user_logged_in?
    %li{class: ("active" if params[:controller] == "games")}
      = link_to "Kvizovi", choose_quiz_path

    %li{class: ("active" if params[:action] == "tour")}
      = link_to "Vodič", tour_path
